<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div>


<h3>Stats</h3>
<% @game.stats.each do |stat| %>
  <p>
    <strong><%= stat.concept.name %></strong>
    <strong><%= stat.athlete.last_name %></strong>
    <%= stat.value.to_i %>
  </p>
<% end %>