<h1>Concepts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Sport</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
 <% @concepts.each do |concept| %>
  <tr>
  <td><%= concept.name %></td>
  <td><%= concept.unit.title %></td>
  <td><%= concept.sport.name %></td>
  <td><%= link_to 'Show', concept %></td>
  <td><%= link_to 'Edit', edit_concept_path(concept) %></td>
  <td><%= link_to 'Destroy', concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>

  </tbody>

</table>

<%= link_to 'New Concept', new_concept_path %>