<div id="<%= dom_id stat %>">
  <p>
    <strong>Athlete:</strong>
    <%= stat.athlete_id %>
  </p>

  <p>
    <strong>Concept:</strong>
    <%= stat.concept_id %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= stat.game_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= stat.value %>
  </p>

</div>
